# --- Core ---
fastapi
uvicorn[standard]
sqlalchemy
pymysql
python-dotenv

# --- Validación ---
pydantic[email]
email-validator

# --- Seguridad / Hashing ---
passlib[argon2]
argon2-cffi
bcrypt

# --- JWT ---
python-jose[cryptography]

# --- 2FA ---
pyotp
qrcode[pil]

# --- Rate Limiting ---
slowapi

# --- Utilidades ---
python-multipart
